@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, this is SASsy!</h1>

<br />
This chat application is built using .NET Aspire and uses Semantic Kernel to connect to locally running Phi-3 model by Ollama to respond to your queries.

